<h1>Welcome to Apollo.</h1>


<h4>(alpha release 0.4)</h4>

Click <%= link_to "here", page_path('instant-search') %> to go to the core search appliance in Apollo.


<br>
<br>

<h3>Release Notes</h3>
<ul>
  <li>Initial Deployment</li>
</ul>

<br>

<!-- <h3>To Do</h3>
<ul>
  <li>Formatting</li>
</ul>
 -->
