<% content_for :title do %>Instant-search<% end %>

<!-- <img src=".../Robertson_Transformer_2.png"> -->

<h1>Apollo Ballast Lookup</h1>
<!-- <h2>⭐</h2>
<h2>⚡</h2>
<h2>💡</h2> -->

<div class="well">
  A lightning fast <code>ballast_record</code> instant-search powered by <b>Viper</b> resources.
</div>

<div class="m-center">
  <input name="email" placeholder="Javascript error :( please help me" id="user_search" autocomplete="off" spellcheck="false" class="instant-search-form" />
  <div class="search-terms">
    Try
    <!-- <a href="javascript:void(0)">2m10040</a>, -->
    <a href="javascript:void(0)">p20167</a>,
    <a href="javascript:void(0)">ISU232T8</a>,
    <a href="javascript:void(0)">f40t12</a>,
    or <a href="javascript:void(0)">GE432-MVPS-N</a>
  </div>
</div>


<!-- <br>
<table class="attribute_table">
    <thead>
        <tr>
            <th>SKU main</th>
            <th>Current Item:</th>
            <th>SKU Pkg Qty:</th>
            <th>Master Status:</th>
            <th>Specific Status:</th>
            <th>Product Type:</th>
            <th>Current item version number:</th>
            <th>Successor sub item:</th>
            <th>Successor SKU Family:</th>
            <th>Substitutue SKU Family:</th>
        </tr>
    </thead>
</table> -->


<div id="hits">
</div>


<script type="text/javascript">
  $(document).ready(function() {
    var index = new AlgoliaSearch('<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>', '<%= ENV['ALGOLIASEARCH_API_KEY_SEARCH'] %>').initIndex('<%= Ballast.index_name %>');

    var hitTemplate = '<div class="hit-instant-search">' +

// extra
      // '<div class="id">{{{_highlightResult.id.value}}}</div>' +
      // '<div class="objectID">{{{_highlightResult.ObjectID.value}}}</div>' +
      // '<div class="SKU">Actual SKU:<b>{{{_highlightResult.SKU.value}}}</b></div>' +

// SKU
      '<div class="SKU">SKU:                  {{{_highlightResult.SKU.value}}}</div>' +

// Current_Item
      '<div class="Current_Item">Current Item: {{{_highlightResult.Current_Item.value}}}</div>' +

// Current_Item_sku_packaging_qty
      '<div class="Current_Item_sku_packaging_qty">Package Qty:         . {{{_highlightResult.Current_Item_sku_packaging_qty.value}}}</div>' +

// Current_Item_Overall_Status
      '<div class="Current_Item_Overall_Status">Overall Status: {{{_highlightResult.Current_Item_Overall_Status.value}}}</div>' +

// Current_Item_Specific_Status
      '<div class="Current_Item_Specific_Status">Specific Status: {{{_highlightResult.Current_Item_Specific_Status.value}}}</div>' +

// BREAK
      '<div class="Break"> <br></div>' +

// Current_Item_Product_Type
      '<div class="Current_Item_Product_Type">Product Type: {{{_highlightResult.Current_Item_Product_Type.value}}}</div>' +

// Current_Item_Version_Number
      '<div class="Current_Item_Version_Number">Version Number: {{{_highlightResult.Current_Item_Version_Number.value}}}</div>' +

// Successor_Item_Substitute_Item
      '<div class="Successor_Item_Substitute_Item">Subst Item: {{{_highlightResult.Successor_Item_Substitute_Item.value}}}</div>' +

// Successor_Item_sku_Family
      '<div class="Successor_Item_sku_Family">Successor Item: {{{_highlightResult.Successor_Item_sku_Family.value}}}</div>' +

// Substitutue_item_sku_Family
      '<div class="Substitutue_item_sku_Family">Substitutue Item SKU:{{{_highlightResult.id.value}}}</div>' +

      '<div class="created_at">{{{created_at}}}</div>' +
    '</div>';


    var hitTemplateCompiled = Hogan.compile(hitTemplate);

    function search(v) {
      index.search(v, function(success, content) {
        if (!success) {
          console.log("Error: " + JSON.stringify(content));
          return;
        }
        $('#hits').html('');
        $('#hits').append('<div class="processing_time pull-right">Processing time: ' + content.processingTimeMS + 'ms</div>');
        $('#hits').append('<div class="nb_hits">Number of hits: ' + content.nbHits + '</div>');
        for (var i = 0; i < content.hits.length; ++i) {
          $('#hits').append(hitTemplateCompiled.render(content.hits[i]));
        }
      }, { hitsPerPage: 20 });
    }

    $('input#user_search').change(function() {
      search($(this).val());
    }).keyup(function(e) {
      if (e.which == 27) {
        $(this).val('').change();
        return;
      }
      search($(this).val());
    }).focus(function(){
      $(this).attr("placeholder", "Base item, lamp, competitor item or SKU");
    }).blur(function(){
      $(this).attr("placeholder", "Click here to type");
      // Base_Item, Lamp, Competitior Cross (multiple), sku_Family
    }).focus();

    $('.search-terms a').click(function(e) {
      $("input#user_search").val($(this).text()).change().focus();
    });

    search('');
  });
</script>
